@charset "UTF-8";
/* CSS Document

/* =Global Controls
-------------------------------------------------------------- */
.inner {
width:70%;
margin-left:auto;
margin-right:auto;
background-color:white;

}

body {
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
background-color:white;
}

.wrap {}
.wrap-page {}

.logo-spot {}
#logo {}

.logo-sm-spot {}
#logo-sm {}

h1{
color:#1A0347;
font-size: 3em;
font-family: Georgia, Serif;
}
h2{
color:#C8C2CF;
font-size: 1.5em;
font-family: Georgia, sans-serif;
}
h3{
color:#5B28BF;
font-family: Georgia, sans-serif;
font-size: 1.6em;
}
h4{
color:#7845DE;
font-family: Georgia, sans-serif;
font-size: 1.2em;
}
h5{
color:#8A59EB;
font-family: Georgia, sans-serif;
}
.button{
border: 2px solid #3609B3;
border-radius:1.5em;
padding: .3em .3em;
background:#EBDDF0;
display:inline;
color:#3609B3;
text-decoration:none;
margin:1em 1em 1em 1em;
}
a.button:hover{
border:2px solid green;
background:#BFF2CF;
color:green;
}
hr{
width:85%;
height:.3em;
background-color:#132E69;
color:#132E69;
border-style: solid;
border-color: #132E69;
border-radius:1em;
}

p{
  font-family: Georgia, Serif;
  font-size:1.25em;
}

ol{
  font-family: Georgia, Serif;
  font-size:1.25em;
}

ul{
  font-family: Georgia, Serif;
  font-size:1.25em;
}

div.sidebar{
  position:fixed;
  min-height:10em;
  display: table-cell;
  vertical-align: middle;
}

.sidebarmenu ul{
margin: 0;
padding: 0;
list-style-type: none;
/*font: bold 1.3em Verdana, serif;*/
font: Georgia, Serif;
width: 14.5%; /* Main Menu Item widths */
border-bottom: 1px solid #ccc;
margin: 0;
position: fixed;               /* 2 */
top: 50%;                         /* 3 */
transform: translate(0, -50%);
}
 
.sidebarmenu ul li{
position: relative;
}

/* Top level menu links style */
.sidebarmenu ul li a{
display: block;
overflow: auto; /*force hasLayout in IE7 */
color: white;
text-decoration: none;
font-weight: bold;
padding: .6em .25em .6em .25em;
border-bottom: 1px solid #778;
border-right: 1px solid #778;
}

.sidebarmenu ul li a:link, .sidebarmenu ul li a:visited, .sidebarmenu ul li a:active{
background-color: #150C4D; /*background of tabs (default state)*/
}


.sidebarmenu ul li a:hover{
background-color:#E0D0F5;
color:black;
}

/* Holly Hack for IE \*/
* html .sidebarmenu ul li { float: left; height: 1%; }
* html .sidebarmenu ul li a { height: 1%; }
/* End */

footer {
  padding:.2em 0 1em 0;
}


/* move content down by presets */
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px;}
.mt35 {margin-top:35px;}

/* sometimes padding is the only option */
.pt5 {padding-top:5px;}
.pt10 {padding-top:10px;}
.pt15 {padding-top:15px;}
.pt20 {padding-top:20px;}
.pt25 {padding-top:25px;}
.pt30 {padding-top:30px;}
.pt35 {padding-top:35px;}

.txtL {text-align:left;}
.txtR {text-align:right;}
.txtC {text-align:center;}

.floatL {float:left;}
.floatR {float:right;}

.hidden {visibility:hidden;}
.clr {clear:both;}
.bold {font-weight:bold;}

.block {display:block;}
.no-underline {text-decoration:none !important;}

/* this is to turn on overflow */
.hideme {overflow:hidden !important;}

/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
-webkit-text-size-adjust: 140%;
background-color:black;
color:white;
font-size: 1.5em;
}
code {
-webkit-text-size-adjust: 160%;
}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
-webkit-text-size-adjust: 120%;
}
#site-description {
-webkit-text-size-adjust: none;
}

/* mobile styles */
@media handheld {
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
-webkit-text-size-adjust: 100%;
}

#access .menu-header li,
div.menu li {
float: left;
position: relative;
margin-right:0px !important;
height:33px
/*height: auto;*/
}

}
/* iPhone-specific styles */
@media only screen and (max-device-width: 480px) {

#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
-webkit-text-size-adjust: 120%;
}

#access .menu-header li,
div.menu li {
float: left;
position: relative;
margin-right:0px !important;
height:33px
/*height: auto;*/
}

}
/* iPad-specific styles */
@media only screen and (max-device-width: 1024px) {

#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
-webkit-text-size-adjust: 120%;
}

#access .menu-header li,
div.menu li {
float: left;
position: relative;
margin-right:0px !important;
height:33px
/*height: auto;*/
}

